@font-face {
  font-family: 'Oswald-bold';
  font-weight: 400;
  src: url('/Fonts/Oswald/Oswald-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-light';
  font-weight: 400;
  src: url('/Fonts/Oswald/Oswald-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-regular';
  font-weight: 400;
  src: url('/Fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PT-bold';
  font-weight: 400;
  src: url('/Fonts/PT_Serif/PT_Serif-Web-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PT-boldltalic';
  font-weight: 400;
  src: url('/Fonts/PT_Serif/PT_Serif-Web-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'PT-ltalic';
  font-weight: 400;
  src: url('/Fonts/PT_Serif/PT_Serif-Web-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'PT-Regular';
  font-weight: 400;
  src: url('/Fonts/PT_Serif/PT_Serif-Web-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'VarelaRound';
  font-weight: 400;
  src: url('/Fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
}